<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>
  <p>
    Splurty was built by <a target="_blank" href="http://github.com/mburnstein">Michael</a>. An attorney who thinks he can code.
  </p>
  <br />
  <p>
    Michael plans to be the world's first coding estate planning attorney.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>
</div>

 <div class="col-xs-12 col-sm-4">
    <%= image_tag 'faceshot.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Michael Burnstein</h2>
    <br />
    <p>
      Michael Burnstein is an <a href="https://www.linkedin.com/in/michael-burnstein-39797a34/">attorney</a> and aspiring coder. He has been an estate planning attorney for 20 years.  He has an LL.M. in tax from New York University School of Law, and a law degree from St. John's University School of Law.  
    </p>
  </div>