@font-face {
    font-family: 'latoregular';
    src: url('assets/lato-regular-webfont.woff2') format('woff2'),
         url('assets/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}